@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
body{
    margin: 0 auto;
    max-width: 1920px;
    font-family: 'Noto Sans TC';
}
#navigation_bar{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    
}
.left{
    font-size: 30px;
    width:150px ;
    color: #448899;
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    line-height: 34px;
    font-weight: bold;
    padding-left: 10px;

}
.right_login{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    flex: auto;
    
}
.right_logout{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    flex: auto;
    
    
}
.item{
    
    align-items: center;
    display: flex;
    margin: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    cursor: pointer;
}

#welcome{
    margin: 0 auto;
    max-width: 1920px;
    /* position: relative; */
   
}
.welcome_photo{
    margin: 0 auto;
    background: url(/static/images/welcome.png) no-repeat;
    height: 320px;
    background-size: cover;
    width: 1920px;
    max-width: 100%;
    margin-bottom: 55px;
}
.slogan{
    margin: 0 auto;
    position: absolute;
    top: 139px;
    
}
.slogan_top{
    font-size: 28px;
    margin: 10px;
    color: #F8F8F8;
    
}
.slogan_middle{
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
    color: #F8F8F8;
    
}
.wrap{
    max-width: 460px;
    
    height: auto;
}
.search-btn{
    background-color: #448899;
    height: 46px;
    width: 60px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    cursor: pointer;
}
.search{
    display: flex;
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    width: 460px;
    
}
.search-bar{
    width: 400px;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    padding: 0.5rem;
}
.search_icon{

    margin: 8px;
}
#content{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 55px;
}

div[id^=attraction_content] {
    
    margin: 15px;
    position: relative;
}
div[id^=information] {
   
    display: flex;
    border-radius: 0 0 5px 5px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border: none;
    border: 1px solid #e8e8e8;
}
p{
    margin: 10px;
    font-style: normal;
    font-weight: 700;
} 
#main_photo{
    width: 268px;
    height: 197px;
    vertical-align: top;
    border-radius: 5px 5px 0 0;
    border: 1px solid #e8e8e8;
    margin-bottom: -2px;
}
.attraction_name{
    background-color:  #000000;;
    opacity: .6;
    width: 100%;
    position: absolute;
    color: #FFFFFF;
    bottom: 45px;
    height: 40px;
    line-height: 13px;
    
}
.attraction_category{
    width:50%;
    text-align: right;
    margin: 10px;
    height: 25px;
    color: #757575;
    
}
.attraction_mrt{
    width:50%;
    margin: 10px;
    color: #757575;
    
}
footer{
    height:104px; background-color: #757575;
    font-family: "Noto Sans TC";
    font-style: normal;font-weight: bold;
    line-height: 104px;color: #ffffff;
    text-align: center;margin-top: 55px;
}
#search_category{
    background-color: #FFFFFF;
    width: 400px;
    height: 162px;
    position: absolute;
    margin-left: 10px;
    top: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #aabbcc;
    opacity: 0;
    z-index: 999;
}
.category_Div{
    position: relative;
}
.search_category_content{
    width: 90px;
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;

}
h1{
    background-color:  #000000;;
    opacity: .6;
    width: 100%;
    position: absolute;
    color: #FFFFFF;
    bottom: 45px;
    padding: 10px;
}
/* attraction css */
#Attraction_content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #E8E8E8;  
}
#photo_list{
    background-color: #b5ddba;
    width: 540px;
    height: 406px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 37px;
}
#photo_information{
    
    width: 600px;
    height: 406px;
    margin: 15px;
}
#navigation_Div{
    max-width: 1920px;
    border: 1px solid #E8E8E8;


}
#attraction_div{
    max-width: 1200px;
    margin: 0 auto;
}
#Attraction_information{

    margin: 0 auto;
    left: 360px;
    top: 574px;
    margin-top: 50px;
}
#attraction_description{
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}
a{
	text-decoration: none;
}
#address{

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#address_name{
    height: 24px;
    color: #666666;
}
#address_title{
    margin-top: 20px;
    margin-bottom: 3px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}
#transport{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#transport_content{
    color: #666666;
    margin-bottom: 120px;
}
#transport_title{

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    /* line-height: 13px; */
    padding-bottom: 3px;
    color: #666666;

}
#info_content{
    margin-left: 10px;
    margin-right: 10px;
}
#journey_title{
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #666666;
    padding-top: 20px;
}
#journey_search{
    margin-bottom: 41px;
    padding-top: 25px;
    margin-left: 20px;
}
#journey-btn{
    width: 154px;
    height: 36px;
    background: #448899;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    border: #448899;
    cursor: pointer;
}
#journey_category{
    font-size: 16px;
    line-height: 13.3px;
    font-weight: 500;
    color: #666666;
    margin-bottom: 20px;
}
#journey_content{
    background: #E8E8E8;
    border-radius: 5px;
    height: 302px;
}
#journey_date{
    margin-left: 20px;
    color: #666666;
    margin-top: 15px;
    font-weight: 700;
}
#journey_time{
    margin-left: 20px;
    color: #666666;
    margin-top: 15px;
    font-weight: 700;
}
#journey_cost{
    margin-left: 20px;
    color: #666666;
    margin-top: 15px;
    display: flex;
    font-weight: 700;
}
.schedule{
    margin-left: 20px;
    color: #666666;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.schedule_content{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    
}
#date{
    margin-left: 5px;
    width: 193px;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: "Noto Sans TC";
    border: none;
}
#daytime_cost{
    
    display: none;
}
#nighttime_cost{
   
    display: none;
}
.photo_list_content{
    width: 100%;
    max-width: 100%;
    height: 406px;
    object-fit: cover;
    
    
}
.btn_left{
    position: absolute;
    top: 175px;
    z-index: 700;
    background-color: #f0f8ff00;
    border: none;
}
.btn_right{
    position: absolute;
    right: 0;
    top: 175px;
    z-index: 700;
    background-color: #f0f8ff00;
    border: none;
}
#photo_list{
    position: relative;
    /* display:none; */
    overflow: hidden;
}
#nighttime{
    accent-color: #448899;
    width: 22px;
    height: 22px;
    margin-left: 18px;
    margin-right: 4px;
}
#select_time{
    align-items: center;
    display: flex;
}
#daytime{
    accent-color: #448899;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    margin-left: 10px;

}

#dot_content{
    position: absolute;
    bottom: 13px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.icon_right{
    cursor: pointer;
}
.icon_left{
    cursor: pointer;
}
.active, .dot:hover {
    background-color: black;
    border: 2px solid #ffffff;  
}
/* 會員登入的css */
#login_content{
    width: 340px;
    height: 275px;
    position: absolute;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, -10px);
    z-index: 800;

}
#decorator_top{
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0 0;
}
#decorator_down{
    width: 340px;
    height: 265px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 0px 0px 6px 6px;
}
#decorator_main{
    width: 310px;
    height: 235px;
    padding: 15px;
}
#login_title{
    height: 27px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #666666;
    justify-content: flex-end;
    display: flex;
}
#login_nane{
    width: 310px
}
#input_email{
    box-sizing: border-box;
    width: 310px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 15px;
}
#input_password{
    box-sizing: border-box;
    width: 310px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
   
}
#login_btn{
    width: 310px;
    height: 47px;
    background: #448899;
    border-radius: 5px;
    border: none;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
}
#no_account{
    color: #666666;
    cursor: pointer;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    align-items: center;
    text-align: center;
    padding: 5px;
}
.x_icon{
    position: absolute;
    cursor: pointer;
}
/* 會員註冊 */
#signup_content{
    width: 340px;
    height: 332px;
    position: absolute;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, -10px);
    z-index: 800;

}
#signup_top{
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0 0;
}
#signup_down{
    width: 340px;
    height: 322px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 0px 0px 6px 6px;
}
#signup_main{
    width: 310px;
    height: 235px;
    padding: 15px;
}
#signup_title{
    height: 27px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #666666;
    justify-content: flex-end;
    display: flex;
}
#signup_nane{
    width: 310px
}
#input_signup_email{
    box-sizing: border-box;
    width: 310px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 15px;

}
#input_signup_password{
    box-sizing: border-box;
    width: 310px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
   
}
#input_signup_name{
    box-sizing: border-box;
    width: 310px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
}
#signup_btn{
    width: 310px;
    height: 47px;
    background: #448899;
    border-radius: 5px;
    border: none;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 5px;

}
#account{
    color: #666666;
    cursor: pointer;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    align-items: center;
    text-align: center;
}
#signup_icon{
    position: absolute;
}
#signin_message{
    text-align: center;
    color: red;
    margin-top: -6px;
   
}
#login_logout{
    display: flex;
}
.signout_btn {
    
    height: 34px;
    align-items: center;
    display: flex;
    margin: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    cursor: pointer;
}
.signin_btn{
    align-items: center;
    display: flex;
    margin: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    cursor: pointer;
}
.right_logout{
    display: none;
}
#signup_message{
    text-align: center;
    margin: 2px;
    color: yellowgreen;
    margin-top: -6px;
    
}
#overlay_login{
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: none;
    justify-items: center;
    z-index: 900;
    display: flex;
    height: 100vh;
    display: none;
}
#overlay_signup{
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: none;
    justify-items: center;
    z-index: 900;
    display: flex;
    height: 100vh;
    display: none;
}
.member_icon{
    align-items: center;
    display: flex;
    margin: 15px; 
    margin-right: 10px;
    cursor: pointer;
}
 @media(max-width:1200px){
    
    #navigation_bar{
        display: flex;
        margin: 0 auto;
        width: auto;
       
    }
    #content{
        width: 90%;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr ;
        
    }
    #main_photo{
        
        height: auto;
        width: 100%;
        vertical-align: top;
        aspect-ratio: 4/3;
    }
    div[id^=attraction_content] {
        
    
        margin: 15px;
        position: relative;
    }
   
}


@media(max-width:800px){
    #Attraction_content{
        display: flex;
        flex-wrap:wrap;
    }
    #photo_information{
        width: 100%;
    }
    #photo_list{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        
    }
    #navigation_bar{
        margin-left: 10px;
    }
}

@media(max-width:600px){
    #content{
        width: 90%;
        flex-wrap: wrap;
        grid-template-columns: 1fr ;
    }
    .search-bar{
        width:250px;
        
    }
    .slogan{
        width: 321px;
        
    }
    .search{
        width:230px;
        
    }
    #search_category{
        background-color: #FFFFFF;
        width: 322px;
        height: 162px;
        position: absolute;
        margin-left: 10px;
        top: 76px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 5px;
        box-shadow: 0px 0px 20px #aabbcc;
        opacity: 0;
    }
    .search_category_content{
        width: 66px;
        height: 20px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 15px;
    
    }
    #Attraction_content{
        display: flex;
        flex-wrap:wrap;
    }
   
} 
@media(max-width:360px){
    #content{
        width: 321px;
        flex-wrap: wrap;
        grid-template-columns: 1fr ;
    }
    #main_photo{
        height: 235px;
        vertical-align: top;
        border-radius: 5px 5px 0 0;
        border: 1px solid #e8e8e8;
        margin-bottom: -2px;
    }
    div[id^=attraction_content] {
        margin: 0 auto;
        margin: 15px;
        position: relative;
    }
    .search-bar{
        width:230px;
        
    }
    .slogan{
        width: 321px;
        
    }
    .search{
        width:230px;
        
    }
    #search_category{
        background-color: #FFFFFF;
        width: 322px;
        height: 162px;
        position: absolute;
        margin-left: 10px;
        top: 76px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 5px;
        box-shadow: 0px 0px 20px #aabbcc;
        opacity: 0;
    }
    .search_category_content{
        width: 66px;
        height: 20px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 15px;
    
    }
} 


