<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='taipei.css') }}" />
    
</head>
<div class="overlay_login" id="overlay_login">
    <div id="login_content">
        <div id="decorator_section">
            <div id="decorator_top"></div>
            <div id="decorator_down">
                <div id="decorator_main">
                    <div id="login_title">
                        <div id="login_nane">登入會員帳號</div>
                        <img onclick="closeLogin()" class="x_icon" src="/static/icon_closex.png" />
                    </div>
                
                    <input id="input_email"type="text" name="email" placeholder="輸入電子信箱"/><br/>
                    <input id="input_password" type="password" name="password" placeholder="輸入密碼"/><br/>
                    <button onclick="apiSingin()" id="login_btn">登入帳戶</button>
                    <div id="signin_message"></div>
                    <div onclick="openSignup(),closeLogin() " id="no_account">還沒有帳戶?點此註冊</div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="overlay_signup" id="overlay_signup">
    <div id="signup_content">
        <div id="signup_section">
            <div id="signup_top"></div>
            <div id="signup_down">
                <div id="signup_main">
                    <div id="signup_title">
                        <div id="signup_nane">註冊會員帳號</div>
                        <img onclick="closeSignup()" class="signup_icon" src="/static/icon_closex.png" />
                    </div>
                    <!-- <form action="/api/user" method="POST"> -->
                    <input id="input_signup_name" type="text" name="name" placeholder="輸入姓名"/><br/>
                    <input id="input_signup_email"type="text" name="email" placeholder="輸入電子信箱"/><br/>
                    <input id="input_signup_password" type="password" name="password" placeholder="輸入密碼"/><br/>
                    <button onclick="apiSingup()"id="signup_btn">註冊帳戶</button>
                    <div id="signup_message"></div>
                    <div onclick="closeSignup(),openLogin()"  id="account">已經有帳戶?點此登入</div>
                </div>
            </div>
        </div>
    </div>  
</div>
<body>
    <div id="navigation_Div">
        <div id="navigation_bar">
            <a href="/">
                <div class=left>台北一日遊</div>
            </a>
            <div class=right_login>
                <div class="item">預定行程</div>
                <div id="login_logout">
                    <div class="signin_btn" onclick="openLogin()">登入/註冊</div>
                </div>
            </div>
            <div class=right_logout>
                <div class="item">預定行程</div>
                <div id="login_logout">
                    <div class="signout_btn" onclick="logout()" >登出系統</div>
                </div>
            </div>
        </div>  
    </div>   
    <div id="attraction_div">
        <div id="Attraction_content">
            <div id="photo_list">
                <!-- <img class="icon_left" src="/static/btn_leftArrowbutton.png" width="28" height="28"/> -->
                <button class="btn_left" onclick="plusDivs(-1)" src="/static/btn_leftArrowbutton.png">
                    <img class="icon_left" src="/static/btn_leftArrowbutton.png" width="36" height="36"/>
                </button>
                <button class="btn_right" onclick="plusDivs(1)" src="/static/btn_leftArrowbutton.png">
                    <img class="icon_right" src="/static/btn_rightArrowbutton.png" width="36" height="36"/>
                </button>

                <div id="dot_content"></div>
                
                
            </div>
            
            <div id="photo_information">
                <div id="photo_title">
                    <div id="photo_name"></div>
                </div>
                <div id="journey">
                    <div id="journey_title"></div>
                    <div id="journey_category"></div>
                    <div id="journey_content">
                        <div class="schedule">訂購導覽行程</div>
                        <div class="schedule_content">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <div id="journey_date">
                            <div>選擇日期 : <input type="date" name="date" id="date" /></div>
                        </div>
                        <div id="journey_time">
                            <div id="select_time">選擇時間 :
                                <input type="radio" onclick="daynightCheck();" id="daytime" name="cost" value="daytime">
                                <label for="contactChoice1">上半天</label>
                                <input type="radio" onclick="daynightCheck();" id="nighttime" name="cost" value="nighrtime">
                                <label for="contactChoice1">下半天</label>
                            </div>
                        </div> 
                        <div id="journey_cost">
                            <div>導覽費用 : 
                                <!-- <div id="daytime_cost">新台幣2000元</div>
                                <div id="nighttime_cost">新台幣2500元</div> -->
                            </div>
                            <div id="daytime_cost">新台幣2000元</div>
                            <div id="nighttime_cost">新台幣2500元</div>
                        </div>

                        <div id="journey_search">
                            
                            <button onclick=" " type="button" class="journey-btn" id="journey-btn"  >開始預約行程</button>
                        </div>
                    </div>

                </div>
                

            </div>

        </div>
        <div id="Attraction_information">
            <div id="info_content"></div>
            <div id="attraction_description"></div>
            <div id="address">
                <div id="address_title">景點地址</div>
                <div id="address_name"></div>
            </div>
            <div id="transport">
                <div id="transport_title">交通方式</div>
                <div id="transport_content"></div>

            </div>

        </div>
    </div> 

    <div class="footer_container">
        <footer>COPYRIGHT © 2022 台北一日遊</footer>    
    </div>
    <script>
        
    function attractionID()
    {
        let s = location.href;
        let path = location.pathname;
        console.log(s);
        console.log(path);
        // 這邊是將頁面抓到輸入的字串
        fetch(`/api/${path}`, {})
        .then((response) => {
            // 這裡會得到一個 ReadableStream 的物件
            // 可以透過 blob(), json(), text() 轉成可用的資訊
            return response.json(); 
        }).then((jsonData) => {
            let title = jsonData.data.name;
            let category = jsonData.data.category;
            let mrt = jsonData.data.mrt;
            let description = jsonData.data.description;
            let address= jsonData.data.address;
            let transport= jsonData.data.transport;
            let images= jsonData.data.images;
            console.log(description);
            console.log(address);
            console.log(transport);
            console.log(images);
            // 有幾張圖片
            console.log(images.length);
           
            // 將景點名稱放進去
            let journeyCategory=document.getElementById("journey_category"); 
            categoryNode = document.createTextNode(category+" at "+mrt);
            journeyCategory.appendChild(categoryNode);

            // 將放進去
            let journeyTitle=document.getElementById("journey_title"); 
            titleNode = document.createTextNode(title);
            journeyTitle.appendChild(titleNode);
           
            // 將景點介紹放進去
            let informationContent=document.getElementById("attraction_description"); 
            informationNode = document.createTextNode(jsonData.data.description);
            informationContent.appendChild(informationNode);
            // 將景點地址放進去
            let addressContent=document.getElementById("address_name"); 
            addressNode = document.createTextNode(jsonData.data.address);
            addressContent.appendChild(addressNode);

            // 將交通資訊放進去
            let transportContent=document.getElementById("transport_content"); 
            transportNode = document.createTextNode(transport);
            transportContent.appendChild(transportNode);

            // 將圖片放進phot_list
            for(let i=0; i<images.length; i++){
                let photo_content=document.getElementById("photo_list");
                let photo_img = document.createElement("img");
                photo_img.className="photo_list_content";
                photo_img.src = images[i];
                photo_content.appendChild(photo_img);

                let dot_content=document.getElementById("dot_content");
                let dots = document.createElement("span");
                dots.className  = "dot";
                dots.setAttribute("onclick", `currentSlide(${i+1})`)
                dot_content.appendChild(dots);

            }

        })
        
    }
    attractionID();

    // 點擊或關閉註冊和登入div
    function openLogin() {
        let element = document.getElementById("overlay_login")
        element.style.display = "block"
    }
    function closeLogin() {
        let element = document.getElementById("overlay_login")
        element.style.display = "none"
    } 
    // 開關註冊
    function openSignup() {
        let element = document.getElementById("overlay_signup")
        element.style.display = "block"
    }
    function closeSignup() {
        let element = document.getElementById("overlay_signup")
        element.style.display = "none"
    } 
    // 註冊系統
    function apiSingup(){
        const nameElement = document.getElementById("input_signup_name");
        const name = nameElement.value;
        const emailElement = document.getElementById("input_signup_email");
        const email = emailElement.value;
        const passwordElement = document.getElementById("input_signup_password");
        const password = passwordElement.value;

        console.log(name);
        console.log(email);
        console.log(password);
        let data=
            {
                name:name,
                email:email,
                password:password
            };
            console.log(data,"你好")
        fetch("/api/user",{
            method: "POST" ,
            credentials: "include",
            body:JSON.stringify(data),
            cache:"no-cache",
            headers:new Headers({
                "content-type":"application/json"
            })
        })
        .then((response) => {
            // 這裡會得到一個 ReadableStream 的物件
            // 可以透過 blob(), json(), text() 轉成可用的資訊
            return response.json(); 
        }).then((jsonData) => {
            console.log(jsonData,"check 33")
            console.log(jsonData.message)
            if(jsonData.error==true){
                document.getElementById("signup_message").innerHTML = jsonData.message 
            }
            if(jsonData.ok==true){
                document.getElementById("signup_message").innerHTML = "註冊成功" 
            }

        })
       
        
    }
    // 登入系統的js 
    function apiSingin()
    {
        const emailElement = document.getElementById("input_email");
        const email = emailElement.value;
        const passwordElement = document.getElementById("input_password");
        const password = passwordElement.value;

        console.log(email);
        console.log(password);
        let data=
            {
                email:email,
                password:password
            };
        
        console.log(data);
        fetch("/api/user/auth",{
            method: "PUT" ,
            credentials: "include",
            body:JSON.stringify(data),
            cache:"no-cache",
            headers:new Headers({
                "content-type":"application/json"
            })
        })
        .then(function(response){
            if(response.status ==400){
                console.log(`Response status was not 200:${response.status}`);
                console.log(data)
                document.getElementById("signin_message").innerHTML = "帳號密碼有誤"
                return ;
            }
            if(response.status ==200){
                response.json().then(function(data){
                    console.log(data)
                    // document.getElementById("signin_message").innerHTML = "登入成功"
                    window.location.replace(location.href)
                })
            }

        })
        
    }
    // 寫一個函式可以判斷使用者是否有登入
    function check()
    {
        fetch("/api/user/auth",{
            method: "GET" ,
        })
        .then((response) => {
            // 這裡會得到一個 ReadableStream 的物件
            // 可以透過 blob(), json(), text() 轉成可用的資訊
            return response.json(); 
        }).then((jsonData) => {
            console.log(jsonData,"check 1");
            console.log(jsonData.data);
            if(jsonData.data!=false){
                let element = document.querySelector(".right_login");
                element.style.display="none";
                let signoutElement = document.querySelector(".right_logout");
                signoutElement.style.display="block";
                signoutElement.style.display="flex";
            }
            else{
                let element = document.querySelector(".right_login");
                element.style.display="block";
                element.style.display="flex";
                let signoutElement = document.querySelector(".right_logout");
                signoutElement.style.display="none";
            
            }
            
        })
    }
    
    // 登出系統
    function logout()
    {
        fetch("/api/user/auth",{
            method: "DELETE" ,
        })
        .then((response) => {
            // 這裡會得到一個 ReadableStream 的物件
            // 可以透過 blob(), json(), text() 轉成可用的資訊
            return response.json(); 
        }).then((jsonData) => {
            console.log(jsonData,"check 2")
            window.location.replace(location.href)
            
        })
    }
    check();
    function daynightCheck() {
        if (document.getElementById("daytime").checked) {
           document.getElementById("daytime_cost").style.display ="block";
        } else {
           document.getElementById("daytime_cost").style.display = 'none';
        }
        if (document.getElementById("nighttime").checked) {
           document.getElementById("nighttime_cost").style.display ="block";
        } else {
           document.getElementById("nighttime_cost").style.display = "none";
        }
    }

    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusDivs(n) {
    showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.querySelectorAll(".photo_list_content");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    
    
    </script>
</body>
</html>