<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>景點頁面</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/taipei.css" />
    
</head>
<div class="overlay_login" id="overlay_login">
    <div id="login_content">
        <div id="decorator_section">
            <div id="decorator_top"></div>
            <div id="decorator_down">
                <div id="decorator_main">
                    <div id="login_title">
                        <div id="login_nane">登入會員帳號</div>
                        <img onclick="closeLogin()" class="x_icon" src="/static/images/icon_closex.png" />
                    </div>
                    <input id="input_email"type="text" name="email" placeholder="輸入電子信箱"/><br/>
                    <input id="input_password" type="password" name="password" placeholder="輸入密碼"/><br/>
                    <button onclick="apiSingin()" id="login_btn">登入帳戶</button>
                    <div id="signin_message"></div>
                    <div onclick="openSignup(),closeLogin() " id="no_account">還沒有帳戶?點此註冊</div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="overlay_signup" id="overlay_signup">
    <div id="signup_content">
        <div id="signup_section">
            <div id="signup_top"></div>
            <div id="signup_down">
                <div id="signup_main">
                    <div id="signup_title">
                        <div id="signup_nane">註冊會員帳號</div>
                        <img onclick="closeSignup()" class="signup_icon" src="/static/images/icon_closex.png" />
                    </div>
                    <!-- <form action="/api/user" method="POST"> -->
                    <input id="input_signup_name" type="text" name="name" placeholder="輸入姓名"/><br/>
                    <input id="input_signup_email"type="text" name="email" placeholder="輸入電子信箱"/><br/>
                    <input id="input_signup_password" type="password" name="password" placeholder="輸入密碼"/><br/>
                    <button onclick="apiSingup()"id="signup_btn">註冊帳戶</button>
                    <div id="signup_message"></div>
                    <div onclick="closeSignup(),openLogin()"  id="account">已經有帳戶?點此登入</div>
                </div>
            </div>
        </div>
    </div>  
</div>
<body>
    <div id="navigation_Div">
        <div id="navigation_bar">
            <a href="/">
                <div class=left>台北一日遊</div>
            </a>
            <div class=right_login>
                <div class="item" onclick="reservation()">預定行程</div>
                <div id="login_logout">
                    <div class="signin_btn" onclick="openLogin()">登入/註冊</div>
                </div>
            </div>
            <div class=right_logout>
                <img class="member_icon" onclick="member()"src="/static/images/user.png" width="24" height="24"/>
                <div class="item" onclick="reservation()">預定行程</div>
                <div id="login_logout">
                    <div class="signout_btn" onclick="logout()" >登出系統</div>
                </div>
            </div>
        </div>  
    </div>   
    <div id="attraction_div">
        <div id="Attraction_content">
            <div id="photo_list">
                <button class="btn_left" onclick="plusDivs(-1)" src="/static/images/btn_leftArrowbutton.png">
                    <img class="icon_left" src="/static/images/btn_leftArrowbutton.png" width="36" height="36"/>
                </button>
                <button class="btn_right" onclick="plusDivs(1)" src="/static/images/btn_leftArrowbutton.png">
                    <img class="icon_right" src="/static/images/btn_rightArrowbutton.png" width="36" height="36"/>
                </button>
                <div id="dot_content"></div>
            </div>
            
            <div id="photo_information">
                <div id="photo_title">
                    <div id="photo_name"></div>
                </div>
                <div id="journey">
                    <div id="journey_title"></div>
                    <div id="journey_category"></div>
                    <div id="journey_content">
                        <div class="schedule">訂購導覽行程</div>
                        <div class="schedule_content">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <div id="journey_date">
                            <div>選擇日期 : <input type="date" name="date" id="date" /></div>
                        </div>
                        <div id="journey_time">
                            <div id="select_time">選擇時間 :
                                <input type="radio" onclick="daynightCheck();" id="daytime" name="cost" value="daytime">
                                <label for="contactChoice1">上半天</label>
                                <input type="radio" onclick="daynightCheck();" id="nighttime" name="cost" value="nighrtime">
                                <label for="contactChoice1">下半天</label>
                            </div>
                        </div> 
                        <div id="journey_cost">
                            <div>導覽費用 : 
                            </div>
                            <div id="daytime_cost">新台幣2000元</div>
                            <div id="nighttime_cost">新台幣2500元</div>
                        </div>

                        <div id="journey_search">   
                            <button onclick="newBooking()" type="button" class="journey-btn" id="journey-btn" >開始預約行程</button>
                            <div id="error_message"></div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <div id="Attraction_information">
            <div id="info_content"></div>
            <div id="attraction_description"></div>
            <div id="address">
                <div id="address_title">景點地址</div>
                <div id="address_name"></div>
            </div>
            <div id="transport">
                <div id="transport_title">交通方式</div>
                <div id="transport_content"></div>

            </div>

        </div>
    </div> 

    <div class="footer_container">
        <footer>COPYRIGHT © 2022 台北一日遊</footer>    
    </div>
    <script src="/static/JS/common.js"></script>
    <script src="/static/JS/attraction.js"></script>
    <script src="/static/JS/member.js"></script>
    <!-- <script src="/static/JS/booking.js"></script> -->

</body>
</html>