<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='taipei.css') }}" />
</head>
<body>
    <div id="navigation_bar">
        <div class=left>台北一日遊</div>
        <div class=right>
            <div class="item">預定行程</div>
            <div class="item">登入/註冊</div>
        </div>
        <div class=slogan>

            <div class=slogan_top>輕鬆享受台北一日悠閒</div>
            <div class=slogan_middle>探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="wrap">
                <div class="search">
                    <input  class="search-bar" type="text" name="search" id="search" placeholder="輸入景點名稱查詢">
                    <button onclick="apiAttraction()" class="search-btn" id="search-btn"><img class="search_icon" src="/static/search.png" width="30" height="30"/></button>
                </div>
            </div>
            <div class=category_Div>
                <div id=search_category onclick="test_function(this)"></div>
            </div>
            
        </div>
        
    </div> 
    <div id=welcome>
        <img class="welcome_photo">
    </div>  
    <div>
        <div id="content">
        </div>
        
    </div> 
    <div class="footer_container">
        <footer>COPYRIGHT © 2021 台北一日遊</footer>    
    </div>
    <script>
    let nextPage=0 ;
    let isLoading=false;
    let keyword="";
    function Attraction()
    {
        // 這邊是將頁面抓到輸入的字串
        fetch(`http://127.0.0.1:3000/api/attraction?page=${nextPage}`, {})
        .then((response) => {
            // 這裡會得到一個 ReadableStream 的物件
            // 可以透過 blob(), json(), text() 轉成可用的資訊
            return response.json(); 
        }).then((jsonData) => {
            
            // console.log(nextPage);
            let attractionName = jsonData.data[0].name;
            let mrt = jsonData.data[0].mrt;
            let category = jsonData.data[0].category;
            let image = jsonData.data[0].images[0];
            
            for (let i=0; i<jsonData.data.length; i++)
            {
                console.log("test2")
                // 建立attractionDiv 容器 並放入一開始在html建立的content
                let content=document.getElementById("content");
                let attractionDiv = document.createElement("div");
                attractionDiv.id = `attraction_content ${i}`;
                content.appendChild(attractionDiv);


                // 建立圖片的容器並放在attractionDiv 容器中
                let attraction_content=document.getElementById(`attraction_content ${i}`);
                let img = document.createElement("img");
                img.id="main_photo";
                img.src = jsonData.data[i].images[0];
                // 將圖片放在attraction_content容器下面
                attraction_content.appendChild(img);

                // 建立景點名稱
                
                let attractionName = document.createElement("div");
                attractionName.className  = "attraction_name";
                // 建立<h1>
                let textName = document.createElement("p");
                nameNode = document.createTextNode(jsonData.data[i].name);   
                // 先把節點放進div中 
                textName.appendChild(nameNode);
                attractionName.appendChild(textName);
                
                attraction_content.appendChild(attractionName);
                
                // 先建立information資訊 待會放mrt 和分類
                let information = document.createElement("div");
                information.id = `information ${i}`;
                attraction_content.appendChild(information);
                // 建立mrt
                let attraction_information=document.getElementById(`information ${i}`);
                let attractionMrt = document.createElement("div");
                attractionMrt.className  = "attraction_mrt";
                mrtNode = document.createTextNode(jsonData.data[i].mrt);
                // 先把節點放進div中
                attractionMrt.appendChild(mrtNode);
                // 再將資料放進attraction_content
                attraction_information.appendChild(attractionMrt);
                
                // 建立分類 放進attraction_information
                let attractionCategory = document.createElement("div");
                attractionCategory.className  = "attraction_category";
                categoryNode = document.createTextNode(jsonData.data[i].category);
                // 先把節點放進div中
                attractionCategory.appendChild(categoryNode);
                // 再將資料放進attraction_content
                attraction_information.appendChild(attractionCategory);
                if (i==jsonData.data.length-1){
                    isLoading=true;
                }
            }
            if(isLoading==true){
                observer.observe(cards);   
                console.log("test1")
            }
            
           nextPage = jsonData.nextPage;
        })
        
    }
    
    // 這裡是搜尋按鈕時
    function apiAttraction()
    {
        // 先停止聆聽
        observer.unobserve(cards);
        //  先清空網頁
        document.getElementById("content").innerHTML="";
        // 讓nextPage先回到0
        
        // 這邊是將頁面抓到輸入的字串
        let keywordElement = document.getElementById("search");
        keyword = keywordElement.value;
        // const data = {username}
        console.log(keywordElement);
        console.log(keyword,"打進去的字");
        fetch(`http://127.0.0.1:3000/api/attraction?keyword=${keyword}`, {})
        .then((response) => {
            // 這裡會得到一個 ReadableStream 的物件
            // 可以透過 blob(), json(), text() 轉成可用的資訊
            return response.json(); 
        }).then((jsonData) => {
            console.log(nextPage,"景點搜尋")
            let attractionName = jsonData.data[0].name;
            let mrt = jsonData.data[0].mrt;
            let category = jsonData.data[0].category;
            let image = jsonData.data[0].images[0];
        
            for (let i=0; i<jsonData.data.length; i++)
            {
                // 建立attractionDiv 容器 並放入一開始在html建立的content
                let content=document.getElementById("content");
                let attractionDiv = document.createElement("div");
                attractionDiv.id = `attraction_content ${i}`;
                content.appendChild(attractionDiv);


                // 建立圖片的容器並放在attractionDiv 容器中
                let attraction_content=document.getElementById(`attraction_content ${i}`);
                let img = document.createElement("img");
                img.id="main_photo";
                img.src = jsonData.data[i].images[0];
                // 將圖片放在attraction_content容器下面
                attraction_content.appendChild(img);

                // 建立景點名稱
                
                let attractionName = document.createElement("div");
                attractionName.className  = "attraction_name";
                let textName = document.createElement("p");
                nameNode = document.createTextNode(jsonData.data[i].name);
                // 先把節點放進div中
                textName.appendChild(nameNode);
                attractionName.appendChild(textName);
                // 再將資料放進attraction_content
                attraction_content.appendChild(attractionName);
                
                // 先建立information資訊 待會放mrt 和分類
                let information = document.createElement("div");
                information.id = `information ${i}`;
                attraction_content.appendChild(information);
                // 建立mrt
                let attraction_information=document.getElementById(`information ${i}`);
                let attractionMrt = document.createElement("div");
                attractionMrt.className  = "attraction_mrt";
                mrtNode = document.createTextNode(jsonData.data[i].mrt);
                // 先把節點放進div中
                attractionMrt.appendChild(mrtNode);
                // 再將資料放進attraction_content
                attraction_information.appendChild(attractionMrt);
                
                // 建立分類 放進attraction_information
                let attractionCategory = document.createElement("div");
                attractionCategory.className  = "attraction_category";
                categoryNode = document.createTextNode(jsonData.data[i].category);
                // 先把節點放進div中
                attractionCategory.appendChild(categoryNode);
                // 再將資料放進attraction_content
                attraction_information.appendChild(attractionCategory);

            }
            nextPage = jsonData.nextPage;
            keyword=keywordElement.value;
            observer.observe(cards);   
            console.log(nextPage,"跑完搜尋第一頁");
            
           
        })
    }
    function apiCategory()
    {
        fetch("http://127.0.0.1:3000/api/categories", {})
        .then((response) => {
            // 這裡會得到一個 ReadableStream 的物件
            // 可以透過 blob(), json(), text() 轉成可用的資訊
            return response.json(); 
        }).then((jsonData) => {
            let categories = jsonData.data;
            console.log(categories);
            console.log(categories[0]);
            for (let i=0; i<jsonData.data.length; i++)
            {
                let catrgory_content=document.getElementById("search_category");
                let searchCategory = document.createElement("a");
                searchCategory.className  = "search_category_content";
                searchCategory.setAttribute("onclick", "show(this);")

                searchCategory.className  = "search_category_content";
                searchcategoryNode = document.createTextNode(categories[i]);
                // 先把節點放進div中
                searchCategory.appendChild(searchcategoryNode);
                // 再將資料放進attraction_content
                catrgory_content.appendChild(searchCategory);
            }
        })

    }

    // 點擊顯示和隱藏
        function e(obj){return document.getElementById(obj)}
    e("search").onclick=function(event){
        e("search_category").style.opacity="1";
        stopBubble(event); 
        document.onclick=function(){
        e("search_category").style.opacity="0";
            document.onclick=null;
        }
    }
    
    e("search_category").onclick=function(event){
        //只阻止了向上冒泡，而沒有阻止向下捕獲，所以點擊con的內部對象時，仍然可以執行這個函數
        stopBubble(event); 
    }
    //阻止冒泡函數
    function stopBubble(e){  
        if(e && e.stopPropagation){
        e.stopPropagation();  //w3c
        }else{
        window.event.cancelBubble=true; //IE
        }
    }
    // 點擊文字顯示在input
    function show(e) {
        let clickValue = e.text
        document.getElementById("search").value = clickValue
    }

   
    // let isLoading=false;
    //root預設就是視窗
    let options = {
    // rootMargin: '0px 0px 0px 0px',
    threshold: 1,
    }
    //選定要觀察的對象

    
    //設定call back
    const callback = (entries) => 
    {
        console.log("hello")
        console.log(keyword,1111)
       
            console.log(nextPage,"aaaaaa")
            if(nextPage == null) return;
            if (entries[0].isIntersecting)
            {   console.log(nextPage,"bbbbbb");
            
                if(nextPage!==null ){
                    console.log(nextPage,"1234567")
                    isLoading=true;
                    fetch(`http://127.0.0.1:3000/api/attraction?page=${nextPage}&keyword=${keyword}`, {})
                .then((response) => {
                    console.log(nextPage,"333333")
                    // 這裡會得到一個 ReadableStream 的物件
                    // 可以透過 blob(), json(), text() 轉成可用的資訊
                    return response.json(); 
                }).then((jsonData) => {
                    
                    console.log(nextPage,"dddddd");
                    let attractionName = jsonData.data[0].name;
                    let mrt = jsonData.data[0].mrt;
                    let category = jsonData.data[0].category;
                    let image = jsonData.data[0].images[0];
            
                for (let i=0; i<jsonData.data.length; i++)
                {
                    
                    // 建立attractionDiv 容器 並放入一開始在html建立的content
                    let content=document.getElementById("content");
                    let attractionDiv = document.createElement("div");
                    attractionDiv.id = `attraction_content ${i+12*nextPage}`;
                    content.appendChild(attractionDiv);


                    // 建立圖片的容器並放在attractionDiv 容器中
                    let attraction_content=document.getElementById(`attraction_content ${i+12*nextPage}`);
                    let img = document.createElement("img");
                    img.id="main_photo";
                    img.src = jsonData.data[i].images[0];
                    // 將圖片放在attraction_content容器下面
                    attraction_content.appendChild(img);

                    // 建立景點名稱
                    
                    let attractionName = document.createElement("div");
                    attractionName.className  = "attraction_name";
                    // 建立<h1>
                    let textName = document.createElement("p");
                    nameNode = document.createTextNode(jsonData.data[i].name);   
                    // 先把節點放進div中 
                    textName.appendChild(nameNode);
                    attractionName.appendChild(textName);
                    
                    attraction_content.appendChild(attractionName);
                    
                    // 先建立information資訊 待會放mrt 和分類
                    let information = document.createElement("div");
                    information.id = `information ${i+12*nextPage}`;
                    attraction_content.appendChild(information);
                    // 建立mrt
                    let attraction_information=document.getElementById(`information ${i+12*nextPage}`);
                    let attractionMrt = document.createElement("div");
                    attractionMrt.className  = "attraction_mrt";
                    mrtNode = document.createTextNode(jsonData.data[i].mrt);
                    // 先把節點放進div中
                    attractionMrt.appendChild(mrtNode);
                    // 再將資料放進attraction_content
                    attraction_information.appendChild(attractionMrt);
                    
                    // 建立分類 放進attraction_information
                    let attractionCategory = document.createElement("div");
                    attractionCategory.className  = "attraction_category";
                    categoryNode = document.createTextNode(jsonData.data[i].category);
                    // 先把節點放進div中
                    attractionCategory.appendChild(categoryNode);
                    // 再將資料放進attraction_content
                    attraction_information.appendChild(attractionCategory);
                }
                
                nextPage = jsonData.nextPage;
                console.log(nextPage);
       
               
                })
            }
            else{
                console.log("不重疊")
            }
        } 
                    
     
          
    }
    
    
    Attraction();

    apiCategory();
    
  
    let observer = new IntersectionObserver(callback, options)
    const cards = document.querySelector("footer");
    // observer.observe(cards);   
    
    </script>
</body>
</html>