<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/taipei.css" />
</head>
<body> 
    <div class="overlay_login" id="overlay_login">
        <div id="login_content">
            <div id="decorator_section">
                <div id="decorator_top"></div>
                <div id="decorator_down">
                    <div id="decorator_main">
                        <div id="login_title">
                            <div id="login_nane">登入會員帳號</div>
                            <img onclick="closeLogin()" class="x_icon" src="/static/images/icon_closex.png" />
                        </div>
                    
                        <input id="input_email"type="text" name="email" placeholder="輸入電子信箱"/><br/>
                        <input id="input_password" type="password" name="password" placeholder="輸入密碼"/><br/>
                        <button onclick="apiSingin()" id="login_btn">登入帳戶</button>
                        <div id="signin_message"></div>
                        <div onclick="openSignup(),closeLogin() " id="no_account">還沒有帳戶?點此註冊</div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="overlay_signup" id="overlay_signup">
        <div id="signup_content">
            <div id="signup_section">
                <div id="signup_top"></div>
                <div id="signup_down">
                    <div id="signup_main">
                        <div id="signup_title">
                            <div id="signup_nane">註冊會員帳號</div>
                            <img onclick="closeSignup()" class="signup_icon" src="/static/images/icon_closex.png" />
                        </div>
                        <input id="input_signup_name" type="text" name="name" placeholder="輸入姓名"/><br/>
                        <input id="input_signup_email"type="text" name="email" placeholder="輸入電子信箱"/><br/>
                        <input id="input_signup_password" type="password" name="password" placeholder="輸入密碼"/><br/>
                        <button onclick="apiSingup()"id="signup_btn">註冊帳戶</button>
                        <div id="signup_message"></div>
                        <div onclick="closeSignup(),openLogin()"  id="account">已經有帳戶?點此登入</div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div id="navigation_bar">
        <a href="/">
            <div class=left>台北一日遊</div>
        </a>
        
        <div class=right_login>
            <div class="item">預定行程</div>
            <div id="login_logout">
                <div class="signin_btn" onclick="openLogin()">登入/註冊</div>
            </div>
        </div>
        <div class=right_logout>
            <div class="item">預定行程</div>
            <div id="login_logout">
                <div class="signout_btn" onclick="logout()" >登出系統</div>
            </div>
        </div>
        
        <div class=slogan>

            <div class=slogan_top>輕鬆享受台北一日悠閒</div>
            <div class=slogan_middle>探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="wrap">
                <div class="search">
                    <input  class="search-bar" type="text" name="search" id="search" placeholder="輸入景點名稱查詢">
                    <button onclick="apiAttraction()" class="search-btn" id="search-btn"><img class="search_icon" src="/static/images/search.png" width="30" height="30"/></button>
                </div>
            </div>
            <div class=category_Div>
                <div id=search_category onclick="test_function(this)"></div>
            </div>
            
        </div>
        
    </div> 
    <div id=welcome>
        <img class="welcome_photo">
    </div>  
    <div>
        <div id="content">
        </div>
        
    </div> 
    <div class="footer_container">
        <footer>COPYRIGHT © 2021 台北一日遊</footer>    
    </div>
    <script src="/static/JS/index.js">
    </script>
</body>
</html>