<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/taipei.css" />
    <link rel="stylesheet" type="text/css" href="/static/CSS/member.css" />
    
</head>
<div class="overlay_login" id="overlay_login">
    <div id="login_content">
        <div id="decorator_section">
            <div id="decorator_top"></div>
            <div id="decorator_down">
                <div id="decorator_main">
                    <div id="login_title">
                        <div id="login_nane">登入會員帳號</div>
                        <img onclick="closeLogin()" class="x_icon" src="/static/images/icon_closex.png" />
                    </div>
                    <input id="input_email"type="text" name="email" placeholder="輸入電子信箱"/><br/>
                    <input id="input_password" type="password" name="password" placeholder="輸入密碼"/><br/>
                    <button onclick="apiSingin()" id="login_btn">登入帳戶</button>
                    <div id="signin_message"></div>
                    <div onclick="openSignup(),closeLogin() " id="no_account">還沒有帳戶?點此註冊</div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="overlay_signup" id="overlay_signup">
    <div id="signup_content">
        <div id="signup_section">
            <div id="signup_top"></div>
            <div id="signup_down">
                <div id="signup_main">
                    <div id="signup_title">
                        <div id="signup_nane">註冊會員帳號</div>
                        <img onclick="closeSignup()" class="signup_icon" src="/static/images/icon_closex.png" />
                    </div>
                    <!-- <form action="/api/user" method="POST"> -->
                    <input id="input_signup_name" type="text" name="name" placeholder="輸入姓名"/><br/>
                    <input id="input_signup_email"type="text" name="email" placeholder="輸入電子信箱"/><br/>
                    <input id="input_signup_password" type="password" name="password" placeholder="輸入密碼"/><br/>
                    <button onclick="apiSingup()"id="signup_btn">註冊帳戶</button>
                    <div id="signup_message"></div>
                    <div onclick="closeSignup(),openLogin()"  id="account">已經有帳戶?點此登入</div>
                </div>
            </div>
        </div>
    </div>  
</div>
<body>
    <div id="navigation_Div">
        <div id="navigation_bar">
            <a href="/">
                <div class=left>台北一日遊</div>
            </a>
            <div class=right_login>
                <div class="item" onclick="reservation()">預定行程</div>
                <div id="login_logout">
                    <div class="signin_btn" onclick="openLogin()">登入/註冊</div>
                </div>
            </div>
            <div class=right_logout>
                <img class="member_icon" onclick="member()" src="/static/images/user.png" width="24" height="24"/>
                <div class="item" onclick="reservation()">預定行程</div>
                <div id="login_logout">
                    <div class="signout_btn" onclick="logout()" >登出系統</div>
                </div>
            </div>
        </div>  
    </div>   
    <div id="member_div">
        <div id="member_photo">
            <input id="img_input2" type="file" accept="image/*"/>
            <label for="img_input2" id="img_label2">
                <img onclick="update_photo()" class="add_photo" src="" width="300" height="300"/>
                <!-- <button onclick="update_photo()" id="update_button">更新大頭照</button> -->
            </label>
            <div id="preview_box2"></div>
            
        </div>
        <div id="member_content">
            
            <div class="member_item">
                <label>聯絡姓名 :</label><br/>
                <input id="input_name" type="text" name="name" ></input><br/>
            </div>
            <div class="member_item">
                <label>聯絡信箱 :</label><br/>
                <input id="input_mail" type="email" name="name" placeholder="輸入信箱"/><br/>
            </div>

            <div class="member_item">
                <label>手機號碼 : &nbsp </label><br/>
                <input id="input_phone" type="tel" name="name" placeholder="輸入電話"/><br/>
            </div>
            <div class="member_item">
                <label>性別:</label><br/>
                <!-- <input id="input_gender" name="name"/><br/> -->
                <div id="gender">
                    <input type="radio" name="gender" id="male" >
                    <label for="male">男性</label>
                    <input type="radio" name="gender" id="female">
                    <label for="female">女性</label>
                </div>
            </div>
            <div class="member_item">
                <label>緊急聯絡人:</label><br/>
                <input id="Emergency_Contact" type="text"/><br/>
            </div>
            <div class="member_item">
                <label>緊急聯絡人電話:</label><br/>
                <input id="Emergency_phone" type="tel"/><br/>
            </div>
            <div class="member_item">
                <label>生日:</label><br/>
                <input type="date" name="date" id="member_date" /><br/>
            </div>
            <div id="update_member">
                <div id="update_content"></div>
                <button onclick="updateMember()" id="update_button">更新會員資料</button>
            </div>
            
        </div>
        
    </div>
    <div class="separator_line"></div>
    <div id="history_div">
        <div class="history">歷史訂單</div>

    </div>
    
    <div class="footer_container">
        <footer>COPYRIGHT © 2022 台北一日遊</footer>    
    </div>
    <script src="/static/JS/common.js"></script>
    <script src="/static/JS/member.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1285.0.min.js"></script>
    
    
</body>
</html>